@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;600;700&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;600;700&family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300..700&display=swap");
/*Style généraux*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
}

body {
  background-color: #000;
  overflow: hidden;
}

._container {
  width: 90%;
  height: 100%;
  border-left: 1px solid rgba(237, 222, 191, 0.4039215686);
  border-right: 1px solid rgba(237, 222, 191, 0.4039215686);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*::selection {
  background-color: #ffff00;
  color: #000;
}

*::-webkit-scrollbar {
  height: 0.2rem;
  width: 0.3rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffff00;
  border-radius: 1rem;
}

h1,
h2 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-size: 36px;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  font-family: "Space-Grotesk", sans-serif;
  font-size: 18px;
  font-style: normal;
}

/*style en-tête*/
header {
  width: 100%;
  height: 130vh;
  background-image: url("../../assets/Illustrations-game/Batgame_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header div._container {
  margin: auto;
}
header div._container div.h_top {
  width: 100%;
  padding: 36px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(237, 222, 191, 0.4039215686);
}
header div._container div.h_top img:hover {
  filter: brightness(0) saturate(100%) invert(79%) sepia(98%) saturate(579%) hue-rotate(1deg) brightness(91%) contrast(87%);
}
header div._container div.h_top ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header div._container div.h_top ul li {
  margin: 0 15px;
}
header div._container div.h_top ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}
header div._container div.h_top ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
}
header div._container div.h_top ul li a#game {
  text-decoration: underline;
  font-weight: bold;
}
header div._container div.h_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
header div._container div.h_bottom h1 {
  margin: 15% 60% 50% 0;
  text-transform: uppercase;
  font-weight: bold;
}
header div._container div.h_bottom div.img_border {
  position: fixed;
  top: 35%;
  right: 0.9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header div._container div.h_bottom div.img_border img {
  margin: 8px 0;
  width: 30px;
}
header div._container div.h_bottom div.img_border img:hover {
  filter: brightness(0) saturate(100%) invert(79%) sepia(98%) saturate(579%) hue-rotate(1deg) brightness(91%) contrast(87%);
}
header div._container div.h_bottom div.img_border img#fleche_up {
  width: auto;
}
header div._container div.h_bottom div.img_border img#fleche_down {
  width: auto;
}

/* style menu */
main {
  display: flex;
  justify-content: center;
}
main div._container {
  /* Style des sections de quiz */
}
main div._container div.game_acc {
  padding-top: 10px;
  border: 2px solid orange;
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
main div._container div.game_acc img#fleche_down {
  width: 100px;
}
main div._container div.game_acc h1 {
  margin: 50px 0;
}
main div._container div.game_acc button {
  margin: 100px 0;
  width: 250px;
  height: 56px;
  background: linear-gradient(to right, rgba(25, 88, 125, 0.4392156863) 1%, rgba(237, 222, 191, 0.4039215686) 20%);
}
main div._container div.quiz_container {
  margin: 10px 0 0 0;
  overflow: hidden;
}
main div._container div.quiz_container p {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
main div._container div.quiz_container section.quiz {
  border: 2px solid blue;
  width: 1000px;
  margin: auto;
  text-align: left;
  display: flex;
  align-items: center;
  overflow: hidden;
}
main div._container div.quiz_container section.quiz div.quiz_content {
  border: 2px solid red;
  width: 100% !important;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
main div._container div.quiz_container section.quiz div.quiz_content div.quiz_left {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main div._container div.quiz_container section.quiz div.quiz_content div.quiz_left img#img1 {
  margin-bottom: 20%;
}
main div._container div.quiz_container section.quiz div.quiz_content div.quiz_left img#img2 {
  margin-top: 15%;
}
main div._container div.quiz_container section.quiz div.quiz_content div.quiz_right {
  width: 60%;
}
main div._container div.quiz_container section.quiz div.quiz_content div.quiz_right h2 {
  font-size: 24px;
  font-weight: bold;
}
main div._container div.quiz_container section.quiz div.quiz_content div.quiz_right div.quiz_rep div.rep_group {
  background: rgba(255, 255, 255, 0.4);
  height: 40px;
  margin: 14px 0;
  display: flex;
  align-items: center;
  padding: 5px 15px;
}
main div._container div.quiz_container section.quiz div.quiz_content div.quiz_right div.quiz_rep div.rep_group input {
  height: 25px;
  width: 25px;
  border: 1px solid #000;
}
main div._container div.quiz_container section.quiz div.quiz_content div.quiz_right div.quiz_rep div.rep_group label {
  margin: 0 0 0 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Rajuani";
}
main div._container div.quiz_container section.quiz div.quiz_content div.quiz_right div.quiz_rep div.img_gp {
  background: transparent;
  height: 180px;
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
}
main div._container div.quiz_container section.quiz div.quiz_content div.quiz_right div.quiz_rep div.question_suivante {
  margin: 30px 0 0 0;
  text-align: center;
}
main div._container div.quiz_container section.quiz div.quiz_content div.quiz_right div.quiz_rep div.question_suivante button {
  padding: 10px 15px;
  margin: auto;
  height: 60px;
  width: 250px;
  background: linear-gradient(to right, rgba(25, 88, 125, 0.4392156863) 1%, rgba(237, 222, 191, 0.4039215686) 20%);
}

/*# sourceMappingURL=game.css.map */
