$yellow-color: #ffff00;
$yellow-light: #f8f184;
$bleu-color: #19597d;
$white-color: #fff;
$gradient-white: #eddebf67;
$gradient-red: #890008;
$black-color: #000;
$grey-color: #c4c4c4;
$gradient-gray: #19587d70;
$color-g: #bcbbbd;
